.container {
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 8px;
  pointer-events: none;
}

/* 수직 */
.top {
  top: 16px;
  flex-direction: column; /* top은 토스트가 아래로 쌓이도록 */
}
.bottom {
  bottom: 16px;
  flex-direction: column-reverse; /* bottom은 토스트가 위로 쌓이도록 */
}

/* 수평 */
.left {
  left: 16px;
}
.center {
  left: 50%;
  transform: translateX(-50%);
}
.right {
  right: 16px;
}

